.cabecalho {
    background-color: #e1b107;
    color: black;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}